<header class="header">
    <nav>
        <div class="header__logo">Admin Mode</div>
        <div>
            <ul class="nav-links">
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/contact">contact</a></li>
                <div>
                    <a href="/logout">
                        logout
                    </a>
                </div>
            </ul>
        </div>
    </nav>
</header>