<div class="author">
    <h1 class="author__heading">Welcome to my blog!</h1>
    <p class="author__body">random thoughts of a random guy</p>
</div>

<img src="/img/manbalcon.jpg" alt="me at balcony" class="hero-image" width="500px" height="auto">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View older posts</a>

</section>